<div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
               <span aria-hidden="true"><i class='bx bx-x'></i></span>
           </button>

           <div class="modal-body">
               <div class="sidebar-about-content">
                   <h3>Sobre</h3>

                   <div class="about-the-store">
                     
                       <ul class="sidebar-contact-info">
                           <li><i class='bx bx-map'></i> <a href="#" target="_blank"><%= config.sobre.endereco %></a></li>
                           <li><i class='bx bx-phone-call'></i> <a href="tel:+<%= config.sobre.telefone %>"><%= config.sobre.telefone %></a></li>
                           <li><i class='bx bx-envelope'></i> <a href="mailto:<%= config.sobre.email %>"><%= config.sobre.email %></a></li>
                       </ul>
                   </div>

                   <ul class="social-link">
                       <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                       <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                       <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                       <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                       <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                   </ul>
               </div>

               <div class="sidebar-new-in-store">
                   <h3>New In Store</h3>

                   <ul class="products-list">
                       <li>
                           <a href="#"><img src="/template/assets/img/products/img1.jpg" alt="image"></a>
                       </li>

                       <li>
                           <a href="#"><img src="/template/assets/img/products/img2.jpg" alt="image"></a>
                       </li>

                       <li>
                           <a href="#"><img src="/template/assets/img/products/img3.jpg" alt="image"></a>
                       </li>

                       <li>
                           <a href="#"><img src="/template/assets/img/products/img4.jpg" alt="image"></a>
                       </li>
                   </ul>

               </div>
           </div>
       </div>
   </div>
</div>